# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyt

# Environments
venv/
env/
.venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Static and media
/staticfiles/
/media/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/
